:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff; /* Pastikan putih */
  color: #1e293b;
}

body {
  margin: 0;
  display: block;
  min-height: 100vh;
  background-color: #f8fafc; /* Warna abu sangat muda untuk background luar card */
}

#root {
  width: 100%;
}